.itemContainer {
    border: 1px solid #3f4b67;
    border-radius: 5px;
    padding: 50px 50px 24px;
    background-color: var(--primary-bg);
    color: white;
    box-shadow: 0 0 20px rgba(44, 45, 51, .8);
}

.searchResults {
    margin-bottom: 40px;
    color: hsla(0, 0%, 100%, .75);
    text-align: center;

    > :last-child {
        min-width: 0;
        margin-left: auto;
    }
}

.resultNum {
    display: block;
    align-content: center;
}

.itemGrid {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .itemGrid {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }
}